{% extends "base.html" %}
{% load static %}

{% block title %}Contacto - Tienda de Videojuegos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-body">Contacto</h1>
    <p class="text-body">Envia un correo a <a href="mailto:contacto@tiendavideojuegos.com">contacto@tiendavideojuegos.com</a></p>

    <div class="alert alert-primary">Estamos disponibles de lunes a viernes de 9:00 a 18:00.</div>
    <div class="alert alert-warning">Nuestro tiempo de respuesta es de 24 a 48 horas.</div>
    <div class="alert alert-danger">Para consultas urgentes, por favor llama a nuestro numero de atencion al cliente.</div>
</div>
{% endblock %}